   @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

   * {
       padding: 0;
       margin: 0;
       box-sizing: border-box;
       font-family: "Inter", sans-serif;
   }

   body {
       color: white;
   }

   h1 {
       text-align: center;
   }

   .header {
       background-color: #003366;
       color: white;
       display: flex;
       align-items: center;
       justify-content: center;
       padding: 20px;
   }

   .header-content {
       display: flex;
       align-items: center;
       flex-wrap: wrap;
   }

   .header-icon {
       width: 50px;
       height: 50px;
   }

   .header-title {
       font-size: 3rem;
       margin-top: 0.5rem;
   }

   .header-subtitle {
       font-size: 1.25rem;
       opacity: 0.9;
   }


   .container {
       width: 100%;
       min-height: 100vh;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
   }

   .content {
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       max-width: 500px;
       width: 100%;
       height: 500px;
       background-color: rgb(0, 51, 102);
       border-radius: 10px;
       gap: 10px;
       box-shadow: rgb(0, 0, 0) 0px 20px 20px;
   }


   .dark-mode .content {
       background-color: #1a1a1a;
       color: #ffffff;
   }

   body.protanopia header,
   body.protanopia .content {
       background-color: #0077cc !important;
       color: #fff !important;
   }

   body.deuteranopia header,
   body.deuteranopia .content {
       background-color: #0066cc !important;
       color: #fff !important;
   }

   body.tritanopia {
       background-color: #f9f9f9 !important;
       color: #222 !important;
   }

   body.tritanopia header,
   body.tritanopia .content {
       background-color: #33aa33 !important;
       color: #fff !important;
   }



   .footer {
       text-align: center;
       padding: 2rem;
       color: white;
       border-top: 1px solid #cccccc;
       background-color: #003366;
   }


   @media(max-width:600px) {
       .container {
           max-width: 400px;
       }
   }

   input {
       padding: 8px 12px;
   }

   button {
       background-color: rgb(255, 255, 255);
       padding: 10px 20px;
       cursor: pointer;
   }

   a {
       color: rgb(136, 62, 255);
   }